/*
Name : Hamza Al-Tal
Email : hamza.t.a.altal@gmail.com
Github: https://github.com/hamzatal
Linkedin: https://www.linkedin.com/in/hamza-tal/
Date : 19/9/2024
Project : Portfolio
Version : 1.0
*/


.journey-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem;
  }
  
  .line-wrapper-journey {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    margin-top: -30px;
    height: 6px;
  }
  
.line {
    position: absolute;
    height: 3px;
    background: #00abf0;
    top: 50%;
    width: 110px;
  }
  
  .left-line {
    left: -120px;
  }
  
  .right-line {
    right: -120px;
  }
  
  .journey-header {
    text-align: center;
    margin-bottom: 5rem;
  }
  
  .journey-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    color: white;
  }
  
  .education-section {
    display: flex;
    justify-content: center;
  }
  
  .education-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .education-card {
    border: 2px solid #00abf0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .education-year {
    font-size: 18px;
    margin-bottom: 5px;
    color: #000000;
  }
  
  .education-card h3 {
    font-size: 20px;
    color: #00abf0;
  }
  
  .education-card p {
    font-size: 16px;
    color: #333;
  }
  